body
{
	background-image: url("https://static.wikia.nocookie.net/finalfantasy/images/8/81/FF8_Malboro.png/revision/latest?cb=20120506184202");
}
h1
{
	text-align: center;
	Background-color: purple;
}