body, html
{
	background-color: black;
	height: 100%;
	margin: 0px;
}

#fond1
{
	margin: 0px;
	height: 300px;
	padding: 0px;
	width: 100%;
}

#bannière
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100px;
}

header
{
	display: flex;
	flex-direction: column;
	background-color: black;
}

nav
{
	position: relative;
	bottom: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

section
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Histoire:hover
{
	font-family: arial black;
	text-decoration: underline;
	color: rgb(0,230,230);
}

.Perso:hover
{
	color: rgb(0,100,255);
	font-family: arial black;
	text-decoration: underline;
}

.équipement:hover
{
	font-family: arial black;
	text-decoration: underline;
	color: rgb(0,110,0);
}

h3
{
	font-size: 2.5em;
	color: rgb(230,230,230);
	font-family: impact;
}

p
{
	color: white;
	font-family: arial;
	font-size: 1.2em;
}

legend
{
	color: white;
}

a
{
	color: rgb(230,230,230);
}

a:visited
{
	color: rgb(230,230,230);
}

.flexcol
{
	display: flex;
	flex-direction: column;
}

.connect
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 3px;
}